body {
  background-color: #4874ba;
}

a:hover {
  text-decoration: none;
}

.colour-transition {
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.bg-colour-transition {
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.quote-box {
  display: block;
  background-color: white;
  color: #4874ba;
  padding: 20px 40px 60px 40px;
  border-radius: 25px;
  margin-top: 15vh;
  font-family: 'Nunito';
  font-weight: 700;
}

.quote-author {
  text-align:right;
}

.quote-social {
  display: inline-block;
  float: left;
}

.quote-new {
  display: inline-block;
  float: right;
}

.social-container {
  padding: 5px;
}

.social-icon {
  font-size: 2em;
  color: #4874ba;
}
.row {
  margin-top: 10px;
}

.footer {
  text-align: center;
  color: white;
}
